.post-image {
    max-width: 30vw;
    margin: auto;
}
.post-image {
    display: flex;
    justify-items: center;
}

#scroll-follower {
    width:inherit;
}

.hub-logo {
    width: 40%;
}

.content-column { 
    min-height: 80vh;
}
